spring:
  application:
    name: rms

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/${DB_NAME:rms_db}
    username: ${DB_USER:rms_user}
    password: ${DB_PASSWORD:rms_password}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc.swagger-ui.path: /swagger-ui.html